{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block title %}My Store{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ product.photo | media_filter }}" class="card-img-top" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">{{ product.price }} руб.</h4>
                    <p class="list-unstyled mt-3 mb-4 text-start m-3">{{ product.description|truncatechars:100 }}</p>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_detail' product.pk %}">Посмотреть</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}