{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block title %}Детальная информация о товаре{% endblock %}

{% block content %}
<h1 class="mt-5 mb-4">Детальная информация о товаре</h1>
<p>Наименование товара: {{ object.name }}</p>
<p>Описание товара: {{ object.description }}</p>
<p>Фото товара:</p>
    <img src="{{ product.photo | media_filter }}" alt="{{ product.name }}" style="max-width: 300px;">
<p>Категория товара: {{ object.category }}</p>
<p>Цена товара: {{ object.price }}</p>
<p>Дата создания товара: {{ object.created_at | date:"d M Y" }}</p>
<p>Дата обновления данных товара: {{ object.updated_at | date:"d M Y" }}</p>
<a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_list' %}">Назад</a>
{% endblock %}